
block content
h1=rs
table(style={border:'solid black 1px'})
  each hr in hl
   tr
    td(style={border:'solid black 1px'})= hr.no
    td(style={border:'solid black 1px'})= hr.horse
    td(style={border:'solid black 1px'})= hr.horse_weight
    td(style={border:'solid black 1px'})= hr.weight
    td(style={border:'solid black 1px'})= hr.draw
        td(style={border:'solid black 1px'})= hr.draw_placed
            td(style={border:'solid black 1px'})= hr.RTG
                td(style={border:'solid black 1px'})= hr.veterinary
                    td(style={border:'solid black 1px'})= hr.jockey_score
                        td(style={border:'solid black 1px'})= hr.trainer_score
                        td(style={border:'solid black 1px',background:'grey'})= hr.grade





   